@font-face {
    font-family: Gotham Pro; 
    src: url(../fonts/Gotham/GothamPro-Black.ttf); 
}
@font-face {
    font-family: Circe; 
    src: url(../fonts/Circe/Circe-Regular.ttf); 
}

@font-face {
    font-family: Gotham; 
    src: url(../fonts/Gotham/GothamPro.ttf); 
}

@font-face {
    font-family: Gotham Medium; 
    src: url(../fonts/Gotham/GothamPro-Medium.ttf); 
}

@font-face {
   font-family: Abyssinica; 
   src: url(../fonts/Abyssinica/AbyssinicaSIL-R.ttf); 
}
/* changes */
button,.number, .item{
   cursor: pointer;
}

/* end */
body{
    margin: 0;
    padding: 0;
    font-family: Gotham Pro;
 }
 
 .visible{
    display: block;
 }
 
 .b-popup{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
    z-index: 1000;
 }
 
 .b-popup .b-popup-content{
    margin:40px auto 0px auto;
    color: white;
    width: 706px;
    height: 550px;
    background: url(../img/popUp.png) no-repeat bottom center;
    padding:10px;
 }
 
 .b-popup-content form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 
 .b-popup-content h2{
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
    font-family: Gotham Medium;
 }
 
 .b-popup-content p{
    font-family: Circe;
    text-align: center;
 }
 
 .b-popup-content form input{
    width: 300px;
    height: 40px;
    margin-bottom: 45px;
    padding-left: 20px;
 }
 
 .b-popup-content form button{
    background: #2A9106;
    border: 1.5px solid white;
    color: white;
    height: 43px;
    width: 262px;
    border-radius: 6px;
 }
 
 .close{
    position: relative;
    top: 16px;
    left: 645px;
 }
 
 .d-flex{
     display: flex;
     justify-content: space-between;
 }
  
 a{
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
 }
  
 #title-menu{
    color: black;
    font-size: 40px;
  }
  
 #title-menu-catalog{
    color: black;
    font-size: 22px;
 }
 .menu-of-catalog{
    margin-top: 10px;
    margin-right: 80px;
 }
 a:hover{
    color: #2A9106;
 }
  
 #menuToggle{
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    
    z-index: 999;
    
    -webkit-user-select: none;
    user-select: none;
 }
  
 #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
 }
  
 #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
 }
  
 #menuToggle span:first-child{
    transform-origin: 0% 0%;
 }
  
 #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
 }
  
 #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
 }
  
 #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
 }
 
 .menu{
    position: absolute;
    width: 700px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
  
 .menu li{
    padding: 10px 0;
    font-size: 25px;
 }
  
  #menuToggle input:checked ~ ul{
    transform: none;
 }
  
 .menu-of-catalog li{
    font-size: 17px;
 }
 
 .nav{
     justify-content: inherit;
 }
 
 .nav-destination-of-company{
     font-family: Circe;
     font-size: 16px;
     color: #828282;
     padding-top: 11px;
     margin-left: 130px;
     margin-right: 250px;
 }
 
 .number{
     margin-right: 50px;
     background: url(../img/phone.png) no-repeat right center;
     padding: 18px 48px 10px 0px;
 }
 
 .logo{
     padding-top: 15px;
     margin-right: 400px;
 }
 
 .item{
   background: url(../img/item.png)no-repeat left center;
 }

 .tabs{
    padding-left: 51px;
     padding-top: 14px;
     color: #828282;
     font-family: Circe;
     font-size: 16px;
 }

 .active-tab{
    color: #2A9106;
 }

 .info{
    margin-left: 51px;
    margin-top: 38px;
 }

 .name-of-item{
    font-size: 42px;
 }

 .main-info{
    margin-top: 26px;
    display: flex;
 }

 .img-of-item{
    width: 389px;
    height: 389px;
    border: 2px solid #2A9106; 
 }

 .img-of-item img{
    width: 389px;
    height: 389px;
 }

 .sale{
    padding-right: 25px;
    text-decoration-line: line-through;
    color: #B4B4B4;
    font-family: Circe;
    font-size: 33px;
 }

 .price{
     color: #2A9106;
     font-size: 45px;
 }

 .container{
     margin-left: 60px;
 }

 .lenght h2{
   font-size: 20px;
 }

 .size ul, .lenght ul {
   display: flex;
 }

 .size ul li, .lenght ul li{
   margin-right: 18px;
   list-style: none;
   border: 1px solid #2A9106;
   border-radius: 4px;
   padding: 5px;
 }

 .size ul li:hover, .lenght ul li:hover, .active-size, .acive-linght{
   color: #2A9106 !important;
   border: 2px solid #2A9106 !important;
 }

 .overview{
    font-family: Circe;
 }

 .box{
   margin-top: 12px;
    margin-left: 38px;;
}

.box select{
   width: 37%;
   padding: 10px;
   height: 40px;
   border: 1px solid #2A9106;
   color: #2A9106;
   font-size: 16px;
   outline: none;
   cursor: pointer;
 }
 
 .box::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 28px;
    pointer-events: none;
 }
 
 .sort{
    font-size: 19px;
    display: flex;
    padding-bottom: 21px;
 }
 
 .container-for-quantity{
   width: 19%;
 }

 .add-to-cart button{
   background: #2A9106;
   border: 1.5px solid #2A9106;
   color: white;
   height: 43px;
   width: 20%;
   margin-bottom: 8px;
   border-radius: 8px;
 }

 button:hover{
    opacity: 0.8;
 }

 .add-to-cart{
   width: 50%;
   display: flex;
   align-items: center;
   padding-top: 30px;
 }
 .subscribe{
   background: url(../img/back-subscribe.png) no-repeat top center;
   color: white;
   width: 100%;
}

.subscribe span{
   font-size: 23px;
   justify-content: center !important;
}

.subscribe form{
   justify-content: center !important;
}

.subscribe form input{
   width: 492px;
   height: 40px;
   margin-bottom: 57px;
   margin-right: 29px;
   margin-left: 69px;
   padding-left: 20px;
}

.subscribe form button{
   background: #2A9106;
   border: 1.5px solid white;
   color: white;
   height: 43px;
   width: 262px;
   border-radius: 6px;
}

.footer{
   background: #4F4F4F;
   font-family: Circe;
   color: white;
   padding-left: 156px;
   padding-right: 147px;
}

.footer ul li{
   color: white;
   list-style-type: none;
   font-size: 15px;
}

.logo-footer{
   padding-top: 43px;
}

.info-about-company, .info-about-cooperation, .info-about-cooperation{
   padding-top: 30px;
}

.title{
   font-family: Gotham Medium;
   padding-bottom: 19px;
}

.partners{
   padding-bottom: 46px;
   padding-top: 46px;
}

.our-partners{
   margin-left: 54px;
}

.social-network-footer{
   padding-right: 57px;
}

.accept{
   padding-right: 51px;
}

.info-about-site{
   color: #BDBDBD;
   padding-bottom: 35px;
}

.cond{
   color:#43F205 !important; 
   text-decoration: underline;
}

.e-mail-footer{
   padding-top: 14px;
   color:#43F205 !important;
}

.social-network-footer ul, .our-partners ul{
   padding-left: 3px;
   justify-content: initial;
}

.social-network-footer ul li, .our-partners ul li{
   padding-right: 17px;
}

.cookie{
   margin-left: 20px;
}

.d-flex{
   display: flex;
   justify-content: space-between;
}

.offer{
   width: 100%;
   height: auto;
}

.offer p{
   padding: 100px;
   font-size: 16px;
   margin: 0px;
   padding-left: 438px;
   font-family: Circe;
}

@media screen and (max-width: 420px){
   .price-of-item{
      padding-top: 22px;
   }
   .sale {
      font-size: 27px;
   }
   .price {
      font-size: 36px;
   }
   .overview, .overview p{
     width: 100%;
   }
   .size ul, .lenght ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      width: 100%;
   }
   .size ul li, .lenght ul li {
     margin-top: 8px;
   }
   .container-for-quantity {
      width: 19%;
      margin-right: 66px;
   }  
   .active-tab {
      color: black;
   }
   .main-info {
      flex-wrap: wrap;
   }
   .info {
      margin-left: 23px;
   }
   .img-of-item {
      width: 90%;
      height: 333px;
   }
   .img-of-item img {
      width: 100%;
      height: 100%;
   }
   .nav-destination-of-company, .vis{
      display: none !important;
   }
   .container-for-filter span{
      display: block;
   }
   #menuToggle{
      margin-left: 19px;
   }
   .menu{
      padding-right: 43px;
   }
   .menu li {
      padding: 4px 0;
   }
   .menu-of-catalog {
      margin-top: 0px; 
      margin-right: 0px;
   }
   #title-menu-catalog {
      color: black;
      font-size: 33px;
      margin-top: 19px;
   } 
   .b-popup .b-popup-content {
      width: 86%;
      height: 83%;
   }
   .close {
      top: 30px;
      left: 297px;
   }
   .logo{
      padding-bottom: 19px;
      padding-left: 48px;
      margin-right: 0px;
      padding-top: 22px;
   }
   .number{
      margin-right: 0px;
      background: url(../img/phone.png) no-repeat right center;
      padding: 18px 66px 10px 0px;
   }
   .number span{
      display: none;
   }
   .subscribe {
      background: #2A9106;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   .subscribe span {
      font-size: 23px;
      text-align: center;
      width: 84%;
   }
   .subscribe form {
      justify-content: center !important;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }
   .subscribe form input{
      margin-bottom: 22px;
      margin-left: 20px;
      width: 85%;
   }
   .subscribe form button{
      margin-bottom: 41px;
      width: 92%;
      margin-right: 8px;
   }
   .footer{
      padding-left: 20px;
      padding-right: 20px;
   }
   .d-flex {
      flex-wrap: wrap;
   }
   .logo-footer{
      padding-left: 76px;
   }
   .info-about-cooperation, .info-about-company{
      width: 50%;
   }
   .info-about-cooperation ul{
      display: flex;
      flex-direction: column;
   }
   .conditions{
      padding-left: 98px;
   }
   .our-partners{
      margin-left: 24px;
      margin-top: 48px;
      width: 40%;
   }
   .social-network-footer{
      width: 52%;
      padding-right: 0px;
      margin-top: 48px;
   }
   .accept{
      padding-left: 116px;
      padding-top: 28px;
   }
   .info-about-site{
      flex-direction: column-reverse;
   }
   .copyright{
      text-align: center;
      padding-top: 23px;
   }
   .menu{
      width: 348px;
      height: 400px;
      display: flex;
      flex-direction: column;
   }
   .cookie{
      text-align: center;
   }
   .offer p{
      padding-left: 64px;
      padding-right: 65px;
   }
   .title-of-catalog h2 {
      font-size: 27px;
  }
  .container{
     flex-wrap: wrap;
     margin-left: 0px;
  }

  .social-network-footer ul li, .our-partners ul li {
   padding-right: 3px;
  }

  .change-visible{
     display: block;
  }

  .box {
   margin-left: 0px;
 }
 .box select {
   padding: 3px;
   height: 34px;
   width: 94%;
 }
 .add-to-cart button{
    width: 59%;
 }
 
 .item{
   background: url(../img/item.png)no-repeat center;
   background-size: cover;
 }

}

@media screen and (max-width: 380px){
   .number {
      margin-right: 9px;
      padding: 18px 55px 10px 0px;
  }
  .logo {
      padding-bottom: 19px;
      padding-left: 20px;
  }
  .tabs {
      padding-left: 39px;
  }
  .social-network-footer ul li{
     margin-right: 15px;
  }

  .change-visible{
      margin-left: 8px;
  }
  .close {
      top: 5px;
      left: 278px;
  }
  .container-for-filter span {
      padding-top: 28px;
      padding-left: 140px;
   }
}

@media screen and (max-width: 340px){
   .number {
      margin-right: 9px;
      padding: 18px 55px 10px 0px;
  }
  .logo {
      padding-bottom: 19px;
      padding-left: 13px;
      padding-right: 26px;

  }
  .tabs {
      padding-left: 39px;
  }
  
  .social-network-footer ul li{
     margin-right: 15px;
  }
  
  .change-visible {
      margin-left: 24px;
   }
  .close {
    top: 5px;
    left: 278px;
  }
  .our-partners {
      margin-left: 20px;
  }
  .conditions {
      padding-left: 58px;
  }
  .footer-info{
      padding-left: 20px;
  }
  .logo-footer {
      padding-left: 14px;
  }
  .info-about-cooperation, .info-about-company {
      width: 100%;
   }
  .conditions {
      padding-left: 58px;
  }
  .our-partners {
      margin-left: 20px;
  }
  .pagin ul {
      padding-left: 4px;
      padding-right: 2px;
  }
  .number{
     display: none;
  }
}