/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
   font-family:Arial, Helvetica, sans-serif;
   font-size: 100%;
   background:#fff; 
}
.banner {
	background: url(../images/banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height:110px;
	text-align: center;
	padding:10px 10px 0;
}
.drp-dwn {
	margin-top:10px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block!important;
	margin-bottom: 2px;
	width: 100%;
	border: none;
	background:#f84545;
	color: #fff;
	cursor: pointer;
	font-size: 0.8125em;
	margin-bottom:10px;
}
.header_arrow{
	text-align: center;
}
.header_arrow a span {
	width:30px;
	height:16px;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	vertical-align: middle;
}
/*--content--*/
.top_grid{
	padding:20px 10px;
	text-align:center;
}
.col2 {
	float: left;
	width: 50%;
}
.lb-album li {
	width:50%;
	float:left;
	position: relative;
}
/*--footer--*/
.footer{
	padding:20px 10px;
	text-align:center;
}
.cssmenu ul{
	padding:0;
	list-style:none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #1a1a1a;
	display: block;
	margin:2px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
}
.cssmenu ul li a:hover{
	text-decoration:none;
	color: #f84545;
}
ul.social {
	padding:0;
	list-style: none;
	margin-top:10px;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li {
	display: inline-block;
	margin-right: 5px;
}
.copy{
	text-align:center;
	margin-top:1em;
}
.copy p a{
	color: #f84545;
}
.copy p a:hover{
	text-decoration:none;
	color:#1a1a1a;
}
.copy p{
	font-size:0.85em;
}
/*--men--*/
.men{
	padding:20px 10px 0;
}
.men_banner {
	background: url(../images/banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height:90px;
	text-align: center;
	padding:10px 10px 0;
}
.sidebar_men {
	margin-top: 25px;
}
.sidebar_men h3{
	margin: 0 0 5px;
	font-size:0.85em;
	line-height: 1.25;
	font-weight: 400;
	text-transform: uppercase;
}
ul.product-categories{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.product-categories li {
	padding: 5px 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	text-transform: uppercase;
}
ul.product-categories li a:hover{
	text-decoration:none;
	color:#E23535;
}
.product-categories li span.count {
	float: right;
	margin-left: 6px;
	color: #aaa;
	font-size:0.8125em;
}
ul.product-categories li  a {
	font-size: 11px;
	color: #999;
}
ul.color{
	margin-bottom:20px;
}
.inner_content {
	background: #fff;
	position: relative;
}
.dreamcrub{
	margin:0 0 20px;
	text-align: center;
}
ul.previous {
	padding: 0;
	list-style: none;
}
ul.previous li a {
	color: #999;
	font-size: 0.8125em;
}
ul.previous li a:hover{
	text-decoration:none;
	color:#f84545;
}
ul.breadcrumbs {
	padding: 0;
	list-style: none;
}
ul.breadcrumbs li {
	display: inline-block;
	font-size: 0.8125em;
	color: #999;
}
.mens-toolbar {
	margin-bottom:20px;
}
.sort-by {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	float: left;
	margin-right:5%;
}
.sort-by label{
	font-size:0.8125em;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	padding:0;
	list-style:none;
}
.pages{
	margin-bottom:20px;
}
.pages .limiter {
	color: #000;
	font-size:12px;
	text-transform: uppercase;
}
.pages .limiter label{
	font-size:12px;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:3px;
	text-decoration: none;
	font-size:11px;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#f84545;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#E23535;
	color:#fff;
}
.product_container {
	text-align: left;
	padding:10px;
}
.product_container h4{
	text-transform: uppercase;
	font-size:12px;
	color: #555;
	margin-bottom: 5px;
}
.product_container p{
	text-transform:uppercase;
	font-size:11px;
	color:#999;
}
.price{
	font-weight: 100;
	font-size: 0.85em;
	margin-top: 10px;
	color: #000;
}
div#cbp-vm ul li {
	width: 48%;
	float: left;
	border: 1px solid #f0f0f0;
	margin: 0 0 2px 2px;
}
/*--single--*/
ul#etalage li{
	width:50%;
	float:left;
}
.labout {
	display: block;
}
.cont1 {
	display: block;
	margin-top: 20px;
}
.span_2_of_a1 h1 {
	color: #333;
	text-transform: uppercase;
	font-size:0.85em;
	margin-bottom:5px;
}
.price_single {
	font-size:0.85em;
	margin: 10px 0 20px;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick {
	color: #555;
	font-size: 0.8125em;
	text-transform: uppercase;
	margin-bottom: 5px;
}
p.quick_desc {
	color: #999;
	font-size:12px;
	line-height: 1.8em;
	font-weight: 100;
	margin-bottom: 20px;
}
span.actual {
	color:#f84545;
	font-size: 1em;
	margin-right: 5%;
}
ul.size {
	padding: 0;
	list-style: none;
	margin-top:20px;
}
ul.size h3 {
	color: #555;
	font-size: 0.8125em;
	text-transform: uppercase;
	margin-bottom: 15px;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size: 0.8125em;
	background:#f0f0f0;
	padding: 5px 10px;
}
ul.size li a:hover{
	background:#f84545; 
	color:#fff;
	text-decoration:none;
}
ul.product-qty {
	padding: 0;
	list-style: none;
	float: left;
}
.product-qty span {
	color: #555;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.wish-list {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}
.wish-list ul{
	padding:0;
	list-style:none;
}
.wish-list li {
	display: inline-block;
	margin-right:10px;
}
.wish-list li.wish {
	background: url(../images/wishlist.png) no-repeat 0;
}
.wish-list li a {
	color: #f84545;
	font-size: 11px;
	padding-left:16px;
	text-decoration: underline;
}
.wish-list li a:hover{
	text-decoration:none;
}
.wish-list li.compare {
	background: url(../images/compare.png) no-repeat 0;
	margin-right: 0;
}
p.availability{
	color:#999;
	font-size:0.8125em;
	font-weight:normal;
}
span.color{
	color: #f84545;
}
.quantity_box {
	margin:20PX 0;
}
.single_social{
	padding:0;
	list-style:none;
	float:right;
}
ul.single_social li:first-child {
	margin-left: 0;
}
ul.single_social li {
	display: inline-block;
}
.btn.btn-primary {
	font-size: 0.85em;
	text-transform: uppercase;
	color: #FFF;
	padding: 8px 20px;
	background: #f84545;
	-webkit-appearance: none;
}
.btn.btn-primary:hover{
	background:#000;
}
ul.product{
	padding:0;
	list-style:none;
	margin-bottom:1em;
}
ul.product li.product_img{
	float: left;
	width: 40%;
	margin-right: 5%;
}
ul.product li.product_desc{
	overflow:hidden;
}
ul.product li.product_desc h4{
	margin-bottom:5px;
}
ul.product li.product_desc h4 a{
	color:#000;
	font-size:0.95em;
}
ul.product li.product_desc h4 a:hover{
	text-decoration:none;
	color: #f84545;
}
a.link-cart {
	font-size:12px;
	color: #f84545;
	display: block;
}
p.single_price{
	font-size:0.8125em;
	margin-bottom:1em;
}
h3.m_1 {
	font-size: 0.85em;
	text-transform: uppercase;
	margin-bottom: 1em;
	color: #000;
}
.page-heading.product-listing {
	border-bottom: none;
	margin-bottom: 0;
}
.page-heading {
	color: #382925;
	font-size:14px;
	margin-bottom: 10px !important;
	margin-top: 0;
	text-transform: uppercase;
}
.page-heading > span.heading-counter {
	float: right;
	font-size: 11px;
	margin-top:2px;
}
.product-count {
	font-size: 0.8125em;
	color: #000;
}
.brand_box {
	margin-top: 2em;
}
.left-side{
	padding:0;
}
.left-side img{
	border:1px solid #CFCFCF;
}
.middle-side {
	padding:20px 0;
}
.middle-side h4{
	margin-bottom:5px;
}
.middle-side h4 a{
	font-size:0.85em;
	text-transform:uppercase;
	color:#000;
}
.middle-side h4 a:hover, .right-side p a:hover{
	color:#f84545;
}
.middle-side p{
	font-size:12px;
	color:#999;
	line-height:1.5em;
}
a.btn.btn1.btn-primary.btn-normal.btn-inline {
	font-size: 12px;
	padding: 10px 10px;
}
.right-side p{
	font-size:0.85em;
	margin-bottom: 15px;
}
.right-side p a{
	color:#000;
}
.grid_1{
	text-align:center;
	margin-bottom:1em;
}
.single_top {
	margin-bottom:30px;
}
.grid_1 h1{
	font-size:0.95em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.grid_1 p{
	font-size:12px;
	color:#999;
	line-height:1.5em;
}
ul.iphone{
	padding:0;
	list-style:none;
	margin-bottom:3px;
}
i.phone {
	float: left;
	margin-right:5px;
}
ul.iphone li.phone_desc{
	font-size:0.8125em;
	color:#000;
	padding-top: 5px;
}
ul.iphone li.phone_desc a{
	color:#000;
}
ul.iphone li.phone_desc a:hover{
	color:#f84545;
}
.to input[type="text"] {
	padding: 10px;
	width: 90%;
	font-size: 0.8125em;
	margin:5px 0;
	border: 1px solid #bababa;
	color: #999;
	background: none;
	outline: none;
}
.text input[type="text"], .text textarea {
	width: 90%;
	font-size: 0.8125em;
	margin:5px 0;
	border: 1px solid #bababa;
	color: #999;
	outline: none;
	background: none;
	height: 100px;
	padding: 10px;
	resize: none;
	font-family:Arial, Helvetica, sans-serif;
}
.contact_form h2{
	font-size:0.95em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 1em;
	text-align: center;
	margin: 20px 0 10px;
}
.but__center {
	text-align: center;
	margin:10px 0 20px;
}
.but__center input[type="submit"] {
	background: none;
	display: inline-block;
	color: #f84545;
	text-transform: uppercase;
	font-size:0.85em;
	border: none;
	cursor: pointer;
	outline: none;
}
.but__center input[type="submit"]:hover{
	color:#000;
}
.map iframe {
	min-height:100px;
	width: 100%;
	border: none;
}
/*--404--*/
.page-not-found {
	padding:20px 0;
	min-height:550px;
	text-align: center;
}
.page-not-found h1 {
	font-size:3em;
	color: #000;
	font-weight: 100;
	margin-bottom: 20px;
}
a.b-home {
	background: #f84545;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	text-decoration: none;
	font-size:12px;
}
a.b-home:hover{
	background:#000;
}

