@font-face{
    font-family: 'Proximanova';
    src: url('../fonts/proximanova/ProximaNova-Extrabld.ttf')
}

@font-face{
    font-family: 'Proximanova regular';
    src: url('../fonts/proximanova/ProximaNova-Regular.ttf')
}

@font-face{
  font-family: 'Neosanspro';
  src: url('../fonts/neosanspro/NeoSansPro-Regular.ttf')
}

body {
    padding: 0;
    margin: 0;
}

.loader {
  position: absolute;
  width: 75px;
  height: 100px;
  top: 35%;
  left: 48%;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}



.header {
	margin: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 100%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    margin-left: 140px;
}

.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 170px;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.greet{
  display: none;
    font-family: Proximanova;
    padding-top: 40px;
}

.name{
    display: flex;
    justify-content: space-between;
    cursor: default;
    font-size: 5.8vw;
}

.name h1{
    margin: 0;
    margin-left: 90px;
    text-transform: uppercase;
    width: 90%;
    position: relative;
}

.name h2{
  font-size: 25px;
  position: relative;
  width: 27%;
  left: -216px;
  top: 31px;
    font-family: Proximanova regular;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
}

.crystall {
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
}

.crystall-1:before {
    background-image: url('../img/polygon-color-R-line.svg');
}

.crystall-1:after {
    background-image: url('../img/polygon-color-R-shape.svg');
}

.crystall-2:before {
    background-image: url('../img/polygon-color-U-line.svg');
}

.crystall-2:after {
    background-image: url('../img/polygon-color-U-shape.svg');
}

.name h1::before {
  background: radial-gradient(circle at 70% 50%,
           rgba(208, 208, 208, 1) 5%,
           rgba(208, 208, 208, 0) 45%
           ) no-repeat 50% 50%;  
}


.crystall {
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
}

.crystall::before,
.crystall::after {
  content: '';
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  top: 50%;
  filter: drop-shadow(0 0 1px rgba(255,255,255,0));
}

.crystall::before {
  z-index: -1;
}

.crystall::after {
  z-index: 1;
}


.crystall-1::before,
.crystall-1::after {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 49.23%;
  animation: drifting1 10s cubic-bezier(0.33, 0, 0.66, 1) 1s infinite;
}

.crystall-2::before,
.crystall-2::after {
  top: 0;
  left: -20%;
  width: 60%;
  height: 29.44%;  
  animation:  drifting2 10s cubic-bezier(0.33, 0, 0.66, 1) 1s infinite;
}

@keyframes drifting1 {
  0% {transform: rotate(0deg) translate(0%, 0%) translateZ(0)}
  25% {transform: rotate(4deg) translate(6%, -4%) translateZ(0)}  
  50% {transform: rotate(0deg) translate(-2%, 4%) translateZ(0)}  
  75% {transform: rotate(4deg) translate(4%, -4%) translateZ(0)}
  100% {transform: rotate(0deg) translate(0%, 0%) translateZ(0)}
}
@keyframes drifting2 {
  0% {transform: rotate(0deg) translate(0%, 0%) translateZ(0)}
  25% {transform: rotate(5deg) translate(3%, -3%) translateZ(0)}  
  50% {transform: rotate(0deg) translate(-2%, 2%) translateZ(0)}  
  75% {transform: rotate(5deg) translate(3%, -3%) translateZ(0)}
  100% {transform: rotate(0deg) translate(0%, 0%) translateZ(0)}
}

.i{
  display: none ;
}

.hero__content h2{
  display: none;
  font-family: Proximanova;
  font-size: 9vw;
  margin-left: 101px;
}

.my-photo img{
  width: 184px;
  height: 164px;
}

.info-about-me{
  font-family: Neosanspro;
  width: 40%;
    padding-left: 20px;
}

.wrapper{
  display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-left: 1px;
}

.hero {
  min-height: 30rem;
  position: relative;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-content: center;
}
.hero__content {
  position: relative;
  align-self: center;
  padding: 3rem 0;
}
.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}
#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}
@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
