body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.header{
    background: url(./img/1920x1080px_Content@1X.png) no-repeat;
    background-size: cover;
    height: 788px;
}

.nav-link , .navbar-brand{ color: rgba(255, 255, 255, 255); cursor: pointer; font-size: 20px;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ color: rgb(167, 167, 168); }
.navbar-collapse{ justify-content: flex-end; margin-right: 110px; margin-top: 50px;}
.navbar-brand{ margin-left: 90px; margin-top: 50px;}

.header-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 788px;
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
  height: 380px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider__content_title {
    display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  white-space: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.3;
  padding: 10px 15px;
  margin: 0;
  height: 52px;
}

.slider__content_footer {
    display: flex;
    justify-content: center;
    align-items: center;
  display: flex;
  padding: 20px 15px;
  color: #fff;
}

.slider__content_footer p{
    text-align: center;
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 320px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 90px;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #9e9e9e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.slider__indicators li.active {
  opacity: 1;
    transition: 3s;
    position: relative;
    top: -3px;
}

hr{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    background: white !important;
    height: 1.5px !important;
    width: 240px;

}

.about-me{
    height: 620px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.text-about-me{
  width: 50%;
  color: #fff;
}

.text-about-me p{
  padding-right: 100px; 
}

.my-photo{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-style: italic;
}

.galary{
  height: 1000px;
}

.title-of-galary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}

.photoes{
  display: flex;
  justify-content: center;
}

.lf-block{
  margin-left: 121px;
}

.rh-block{
  margin-left: 139px;
}

.rh-block img{
  margin-bottom: 26px;
}

.title{
    margin-left: 118px;
    font-size: 29px;
    font-weight: 700;
}

.see-all{
  margin-right: 167px;
}

.see-all a, .see-all i
{
  color: black !important;
    font-weight: 600;
}

.footer{
  height: 350px;
  background: #000000;
  display: flex;
  color: #fff;
}

.info{
  width: 30%;
  margin-left: auto;
  margin-top: 60px;
}

.our-studio{
  width: 30%;
  margin-top: 60px;
}

.stay-in-touch{
  width: 20%;
  margin-top: 60px;
  margin-right: auto;
}

.logo{
  margin-bottom: 30px;
}

.distination{
  display: flex;
  flex-direction: column;
}

.footer-title{
  margin-left: 0;
  color: white;
}

.text-of-info{
  margin-top: 74px;
  width: 400px;
}

.our-distination{
  margin-top: 60px;
  margin-bottom: 20px;
}

.social-network{
  margin-top: 106px;
}

.distination span img{
  padding-right: 10px;
}

@media only screen and (max-width: 450px) {
  .navbar-brand {
    margin-left: 35px;
  }

  .header-slider , .header{
    height: 588px;
  }

  hr {
    width: 150px;
  }
  .slider__item{
    padding-left: 25px;
    padding-right: 25px;
  }

  .slider__content_title{
    font-size: 29px;
  }

  .slider__content_footer p {
    text-align: center;
    font-size: 11px;
  }

  .slider__indicators{
    top: 250px;
  }

  .slider__indicators li{
    width: 50px;
  }

  .about-me{
    height: 839px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .my-photo {
    width: 60%;
    margin-top: 80px;
  }

  .my-photo img{
    width: 100%;
    height: 100%;
  }

  .text-about-me {
    width: 70%;
    color: #fff;
    margin-bottom: 80px;
  }

  .text-about-me p {
    font-size: 10px;
    padding-right: 0px;
  }

  .galary{
    height: 100%;
  }

  .title {
    margin-left: 44px;
  }

  .footer-title{

  }

  .see-all {
    margin-right: 18px;
  }
  
  .photoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lf-block {
    margin-left: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .lf-block img{
    width: 90%;
  }

  .rh-block {
    margin-left: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .rh-block img{
    width: 90%;
  }

  .footer {
    height: auto;
    background: #000000;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info {
    width: auto;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 60px;
    margin-right: 0px;
  }

  .text-of-info {
    margin-top: 19px;
    width: 350px;
  }

  .our-studio {
    width: auto;
    margin-top: 60px;
  }

  .stay-in-touch {
    width: auto;
    margin-top: 60px;
    margin-right: 0px;
  }

  .social-network {
    margin-top: 34px;
    margin-bottom: 55px;
    margin-left: 13px;
  }

  .footer-title{
    margin-left: 79px;
  }

}